body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #000000;
    color: white;
}

.dark-mode input,
.dark-mode button {
    background-color: #333;
    color: white;
    border: 1 px solid #777;
}
